@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/Mentor/_LayoutMentor.cshtml";
    ViewData["Title"] = "List Ideas Page";
}
<link rel="stylesheet" href="/css/supervisor/supervisor_viewIdeaMentor.css">
<div class="homepage" id="viewIdeaMentor">
    @await Html.PartialAsync("/Views/Shared/Mentor/_LayoutSidebarLeftMentor.cshtml")
    <div class="main">
        <div class="requestMain" style=" padding: 20px; /* Khoảng cách bên trong khu vực chính */
    border: 2px solid black; /* Viền đen cho khu vực chính */
    border-radius: 8px; /* Bo tròn góc */
    background-color: white; /* Nền trắng cho phần nội dung */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */">
            <div class="formRequest">
                <p class="formTitle">View Ideas of Other Supervisors</p>
            </div>
            <div>
                <div>
                    @if (ViewBag.listIdeaSupervisor == null || ViewBag.listIdeaSupervisor.Count == 0)
                    {
                        // Hide table header
                    }
                    else
                    {
                        <div class="requestMain" style="margin: 0px;">
                            <div class="titleRequest">

                                <p>Project Englist Name</p>
                                <p>Project Vietnamese Name</p>

                                <p>Abbreviation</p>
                                <p>Mentor</p>
                                <p>Action</p>
                            </div>
                            @foreach (var u in ViewBag.listIdeaSupervisor)
                            {

                                <div class="informSupportRequest">

                                    <p class="limitCharacter">@u.ProjectEnglishName</p>
                                    <p class="limitCharacter">@u.ProjectVietNameseName</p>
                                    <p class="limitCharacter">@u.Abrrevation</p>
                                    <p class="limitCharacter">@u.Supervisor.SupervisorID</p>

                                    <p>
                                        <button style="cursor: pointer; width: 5em; height: 40px; border-radius: 8px; background-color: #7470e9; color: #FFFFFF;
                                                    outline: none; border: none; font-size: 14px;font-weight: 600;">
                                            <a style="text-decoration: none; color: white" href="/ListIdeasSupervisorForSupervisor/DetailIdeaSupervisor/@u.GroupIdeaID">View</a>
                                        </button>
                                    </p>
                                </div>




                            }
                        </div>
                    }


                </div>

                <div id="pagination" style="text-align: center; margin-bottom: 10px"></div>

                <script src="/js/util/paging.js"></script>
                <script>
                    pagination(@ViewBag.pageIndex, @ViewBag.totalPage, 2);
                </script>
            </div>
        </div>
    </div>
</div>
