@*roleId = 1-student, 2-supervisor, 3-staff, 4-devhead, 5-admin*@

@using Infrastructure.Entities
@model Supervisor

@{
    if (ViewBag.sessionRole == 5)
    {
        Layout = "/Views/Shared/Admin/_LayoutAdmin.cshtml";
    }
    else if (ViewBag.sessionRole == 3)
    {
        Layout = "/Views/Shared/Staff/_LayoutStaff.cshtml";
    }
    ViewData["Title"] = "User Management";
}
<link rel="stylesheet" href="/css/admin/admin_usermanagerupdate1.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.5/dist/bootstrap-table.min.js"></script>

<div class="homepage" id="usermanagement">
    @if (ViewBag.sessionRole == 5)
    {
        @await Html.PartialAsync("/Views/Shared/Admin/_LayoutSidebarLeftAdmin.cshtml")
    }
    else if (ViewBag.sessionRole == 3)
    {
        @await Html.PartialAsync("/Views/Shared/Staff/_LayoutSidebarLeftStaff.cshtml")
    }
    <input type="text" id="sessionRole" value="@ViewBag.sessionRole" hidden />
    <div class="main" style="background-color:powderblue;">

        <div class="profileUser1">
                <div class="listSupportQuestion">
                    <p class="formTitle">User Management</p>
                </div>

                <div>
                    @if (ViewBag.users.Count != 0)
                    {
                        <div class="requestMain" style="margin-bottom: 0px; margin-top: 0px; padding-top: 0px;">
                        <div class="titleRequest" style="font-size: 16px;
    font-weight: 600;
    color: #1c1f27;
    padding: 16px;
    border: 1px solid #1C1F27; /* Viền cho tiêu đề bảng */
    margin: 16px;
    margin-bottom: 0px;">
                                <p>No.</p>
                                <p>FPT Email (Login Email)</p>
                                <p>Full Name</p>
                                <p>Role</p>
                                <p>Action</p>
                            </div>
                            
                            @foreach (var u in ViewBag.users)
                            {
                            <div class="informSupportRequest" style="font-size: 14px;
    font-weight: 500;
    color: #1C1F27;
    padding: 16px;
    margin: 0 16px 20px 16px;
    border-bottom: 1px solid #ccc; /* Viền cho từng hàng dữ liệu */
    margin-bottom: 0px;
    border-left: 1px solid #ccc; /* Viền dọc bên trái */
    border-right: 1px solid #ccc; /* Viền dọc bên phải */">
                                    <p>@u.RowNum</p>
                                    <p>@u.FptEmail</p>
                                    <p>@u.FullName</p>
                                    <p>                                                                                         
                                        <select id="select-role-@u.RowNum">
                                            @foreach (var item in ViewBag.Roles)
                                            {
                                            
                                                @if (u.Role.Role_ID == item.Role_ID)
                                                {
                                                    <option value="@item.Role_ID" selected="true">@item.RoleName</option>
                                                }
                                                else
                                                {
                                                    <option value="@item.Role_ID" >@item.RoleName</option>
                                                }
                                            }
                                                    
                                        </select>
                                    </p>
                                    <p style="display:flex;">
                                        <button class="btnloginAs" value="@u.FptEmail">LoginAs</button>
                                        @if (u.Role.Role_ID == 3 || u.Role.Role_ID == 4)
                                        {
                                            <button class="btn-delete" value="@u.UserID">Delete</button>
                                        }
                                    
                                    </p>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                    }
                </div>
         </div>
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script src="~/js/admin/admin_createUser.js"></script>
@*<script>
    function AddProfession() {
        var str = `<select name="profession" id="profession" class="select-profession"required>
    @foreach (var p in ViewBag.professions)
    {
                                                                    <option value="@p.ProfessionID"> @p.ProfessionFullName (@p.ProfessionAbbreviation)</option>
    }
                                                </select>
                                                <input type="checkbox" class="checkbox-devhead" checked />Devhead`;
        $('#more-profession').append(str);
    }
</script>*@